@import "@/scss/import.scss";

.view-item {

    .vui-loader {
        width: calc(100% - 4rem);
        margin: 1rem 2rem;
    }

    .vui-nav {
        padding: 2rem 0 1rem 2rem;
    }

    h1 {
        padding: 1rem 0 1rem 2rem;
    }


    .item {
        width: 100%;

        .card-container {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 2rem;

            .picture {
                flex: 0 0 320px;
                height: 550px;
                width: 100%;
                border: .25rem solid black;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .details {
                position: relative;
                flex: 1 1 auto;
                margin-left: 1rem;

                ul {
                    li {
                        display: flex;
                        justify-content: flex-start;
                        padding: 1rem;

                        label {
                            flex: 0 1 150px;
                            min-width: 90px;
                            padding: 0;
                        }

                        .value {
                            padding: 0;
                            font-weight: bold;
                        }
                    }

                    li.shipping-fee-info {
                        padding-top: 0;

                        a,
                        span {
                            font-size: .95rem;
                            font-style: italic;
                        }
                    }
                }

                h2 {
                    padding-left: 1rem;
                    padding-top: 2rem;
                }

                form {
                    margin: 1rem;

                    p {
                        padding: 1rem;
                        text-align: center;
                    }
                }

                .vui-alert {
                    width: auto;
                    margin: 1rem;
                }

                .login {
                    padding: 3rem 0;
                    margin: 1rem;
                    text-align: center;
                    border: 1px solid #d9dcde;
                    border-radius: .25rem;

                    .fa-paper-plane {
                        display: inline-block;
                        padding-right: .25rem;
                        color: #d33100;
                    }

                    a {
                        display: inline-block;
                        border-bottom: 1px solid #d33100;
                    }
                }
            }
        }
        .social {
            padding: 1rem 2rem;
            text-align: right;

            a.facebook {
                i {
                    color: $blue-color;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .view-item {
        h1 {
            padding-left: 0;
        }

        .vui-nav {
            padding-left: 0;
        }

        .item {

            .card-container {
                display: flex;
                flex-flow: column;

                .picture {
                    flex: 1 1 auto;
                    height: 400px;
                    margin: 0 0 1rem 0;
                }

                .details {
                    flex: 0 0 100%;
                    margin: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}
