node_modules/
dist/
.env
.env.local
.git
.gitignore
logs/
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.npm
.eslintcache
.node_repl_history
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.cache
.next
out
.nuxt
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
