.vui-page.layout-default {
    max-width: 1199px;
    margin: 0 auto;
    border: none;

    .vui-loader {
        background-color: white;
        padding: 1.25rem;
    }

    .vui-page-header {
        padding: 0;
        margin: 0;

        .vui-header {
            display: flex;
            padding-left: 5.5rem;
            justify-content: space-between;
            background-color: #d33100;
            background-repeat: no-repeat;
            background-size: 3rem auto;
            background-position: 2rem center;
            border: none;

            .vui-dropdown {
                height: 100%;
            }

            .home {
                flex: 1 1 auto;
                font-size: 2rem;
                line-height: 2.5rem;
                white-space: nowrap;
                overflow: hidden;

                i {
                    line-height: inherit;
                    font-size: inherit;
                    color: white;
                }

                span {
                    padding-left: .5rem;
                    line-height: inherit;
                    font-size: inherit;
                    color: white;
                }
            }

            .login {
                flex: 0 0 40px;
                height: 100%;
                padding: 0 .65rem;
                background-color: white;
                border-radius: .25rem;

                i {
                    display: block;
                    font-size: 1rem;
                    line-height: 2.5rem;
                    color: #d33100;
                }
            }
        }
    }

    .vui-page-footer {
        padding: 0;
        margin: 0;

        .vui-footer {
            text-align: right;
            background-color: #d33100;
            border: none;

            span {
                a {
                    font-size: .9rem;
                    color: white;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .vui-page.layout-default {

        .vui-page-header {

            .vui-header {
                padding-left: 4.5rem;
                text-align: right;
                background-size: 3rem auto;
                background-position: 1rem center;

                a.home {
                    padding: 0 1rem 0 0;

                    span {
                        padding: 0;
                    }
                }

                &.vui-header--connected {
                    flex-flow: column;
                    background-size: 4rem auto;

                    a.home {
                        padding: 0;
                    }

                    .vui-dropdown {
                        max-width: 300px;
                        margin: 1rem 0 0 auto;
                    }
                }
            }
        }

        .vui-page-body {
            padding: 1rem;
        }
    }
}
