.vui-page.layout-default {
    max-width: 1199px;
    margin: 0 auto;

    .vui-page-header {
        padding: 0;
        margin: 0 -1px;

        .vui-header {
            display: flex;
            justify-content: space-between;
            background-color: #3d4f58;
            border: none;

            a {
                line-height: 2rem;


                i {
                    color: white;
                }

                span {
                    padding-left: .5rem;
                    color: white;
                }
            }
        }
    }

    .vui-page-body {
        .view-index {
        }
    }

    .vui-page-footer {
        padding: 0;
        margin: 0 -1px;

        .vui-footer {
            text-align: right;
            background-color: #3d4f58;
            border: none;

            span {
                a {
                    font-size: .9rem;
                    color: white;
                }
            }
        }
    }
}
