.view-index {
    text-align: center;

    h1 {
        padding: 0 0 1rem 0;
        text-align: left;
    }
    .buttons {
        display: flex;
        padding-bottom: 2rem;
        justify-content: center;

        .vui-button {
            margin: 0 1rem;
        }
    }

    p {
        a {
            text-decoration: underline;
        }
    }
}
