@import "@/scss/import.scss";

.card--admin-edit {
    .vui-card-body {

        .vui-loader {
            width: 100%;
            margin: 1rem 0;
        }

        h1 {
            padding: 0 0 2rem 0;
        }

        .vui-form {
            section {
                fieldset {
                    textarea {
                        width: 100%;
                        padding: .5rem;
                        min-height: 100px;;
                        border: 1px solid grey;
                        border-radius: .25rem;
                    }
                    .preview {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 1rem;

                        .file-container {
                            flex: 1 1 auto;
                            max-width: 100px;
                            padding: .2rem;
                            background-color: black;

                            img {
                                display: inline-block;
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }

            .section--submit {
                .vui-button--delete {
                    color: #d33100;
                }
                .vui-button {
                    margin: 0 1rem;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .card--admin-edit {
        .vui-card-body {
            .vui-nav {
                .vui-list.vui-nav-list {
                    .vui-list-items {
                        flex-wrap: wrap;
                    }
                }
            }

            .vui-form {
                section {
                    fieldset {
                        .fieldset-item.fieldset-item--file,
                        .fieldset-item.fieldset-item--text,
                        .fieldset-item.fieldset-item--select {
                            flex-flow: column;
                        }
                    }
                }
            }
        }
    }
}

