<div style="
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.1);
">
    <div style="
        padding: 1rem;
        background-color: #d33100;
        border-radius: .25rem;
    ">
        <a
            href="https://ssr.e-xode.net"
            style="
                font-size: 2rem;
                color: #ffffff;
                text-decoration: none;
            "
        >
            Vue SSR e-xode.net
        </a>
    </div>
    <div style="padding: 1rem; background-color: #ffffff;">
        <div style="
            padding: 1rem;
            border: 1px solid black;
            border-radius: .25rem;
        ">
            <h1 style="font-size: 1rem;">
                EMAIL CODE CONFIRMATION
            </h1>
            <p>You have requested an email confirmation code to authenticate on our website.</p>
            <p>Your temporary personal code is: <b>{{{ authcode }}}</b></p>
        </div>
    </div>
    <div style="
        padding: 1rem;
        background-color: #d33100;
        text-align: right;
        border-radius: .25rem;
    ">
        <a href="https://ssr.e-xode.net" style="color: #ffffff;">
            vue-ssr.e-xode.net
        </a>
    </div>
</div>
