<div style="
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.1);
">
    <div style="
        padding: 1rem;
        background-color: #d33100;
        border-radius: .25rem;
    ">
        <a
            href="https://ssr.e-xode.net"
            style="
                font-size: 2rem;
                color: #ffffff;
                text-decoration: none;
            "
        >
            Vue SSR e-xode.net
        </a>
    </div>
    <div style="padding: 1rem; background-color: #ffffff;">
        <div style="
            padding: 1rem;
            border: 1px solid black;
            border-radius: .25rem;
        ">
            <h1 style="font-size: 1rem;">
                NEW ORDER
            </h1>
            <p>A new order has been requested from customer .</p>
            <ul>
                <li>
                    Email: {{{ order.user.email }}}
                </li>
                <li>
                    Item: <a
                        href="https://ssr.e-xode.net/en/item/{{{ order.item.slug }}}"
                        style="color: #000;"
                    >
                        {{{ order.item.name }}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="
        padding: 1rem;
        background-color: #d33100;
        text-align: right;
        border-radius: .25rem;
    ">
        <a href="https://ssr.e-xode.net" style="color: #ffffff;">
            vue-ssr.e-xode.net
        </a>
    </div>
</div>
