@import "@/scss/import.scss";

.card--admin {
    .vui-card-body {

        h1 {
            display: flex;
            justify-content: space-between;
            padding: .5rem 0 2rem 0;
        }

        .vui-loader {
            width: 100%;
            margin: 1rem 0;
        }

        .vui-grid {
            flex-wrap: nowrap;

            .vui-grid-unit--menu {
                flex: 0 0 200px;
                padding: 0 1rem 0 0;
            }

            .vui-grid-unit--table {
                flex: 1 1 auto;
                padding: 0;

                .table-container {

                     table {
                        width: 100%;
                    }
                }

                .submit {
                    display: flex;
                    justify-content: flex-end;
                    padding: 1rem 0;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .card--admin {
        .vui-card-body {
            h1 {
                flex-flow: column;

                .submit {
                    text-align: right;
                }
            }

            .vui-grid  {
                flex-flow: column;

                .vui-grid-unit--menu {
                    flex: 0 0 100%;
                    margin: 1rem 0;
                    padding: 0;
                }
            }
        }
    }
}
