:deep() {
  .v-app {
    background: var(--v-background-base);
  }

  .v-main {
    background: inherit;
  }
}

.container-sm {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
